<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Image/4000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>Image/4001.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,202},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>Image/4002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>Image/4003.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,102},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>Image/4005.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>Image/Goumaianniuxiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{137,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,59}}</string>
                <key>sourceSize</key>
                <string>{137,59}</string>
            </dict>
            <key>Image/Goumaianniuxiao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{137,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,59}}</string>
                <key>sourceSize</key>
                <string>{137,59}</string>
            </dict>
            <key>Image/Shangchengdikuangzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,48}}</string>
                <key>sourceSize</key>
                <string>{152,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Image0.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27f2aa3f3e2015b76e2185400be4562e$</string>
            <key>textureFileName</key>
            <string>Image0.png</string>
        </dict>
    </dict>
</plist>
