<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Image/pindao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,292},{185,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,59}}</string>
                <key>sourceSize</key>
                <string>{185,59}</string>
            </dict>
            <key>Image/pindao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,147},{143,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{143,60}}</string>
                <key>sourceSize</key>
                <string>{185,60}</string>
            </dict>
            <key>Image/pindao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,479},{143,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{143,59}}</string>
                <key>sourceSize</key>
                <string>{185,59}</string>
            </dict>
            <key>Image/pindao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{143,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{143,60}}</string>
                <key>sourceSize</key>
                <string>{185,60}</string>
            </dict>
            <key>Image/pindao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{141,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{141,59}}</string>
                <key>sourceSize</key>
                <string>{185,59}</string>
            </dict>
            <key>Image/xuanzepindao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{544,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,187}}</string>
                <key>sourceSize</key>
                <string>{544,187}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Image4.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ad065aefa1a278677e2adf183d0f02b$</string>
            <key>textureFileName</key>
            <string>Image4.png</string>
        </dict>
    </dict>
</plist>
