<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Image/6000.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,615},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Image/6001.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,514},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Image/6002.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,510},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Image/6003.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,409},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Image/6004.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,510},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Image/6005.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,510},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Image/Chazitongyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,152},{58,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,52}}</string>
                <key>sourceSize</key>
                <string>{58,52}</string>
            </dict>
            <key>Image/Chazitongyong_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,98},{58,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,52}}</string>
                <key>sourceSize</key>
                <string>{58,52}</string>
            </dict>
            <key>Image/Chengjiudikuanghengtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{520,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,91}}</string>
                <key>sourceSize</key>
                <string>{520,91}</string>
            </dict>
            <key>Image/Chengjiufangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,621},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>Image/Chengjiuzhongduigou.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,409},{90,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,87}}</string>
                <key>sourceSize</key>
                <string>{90,87}</string>
            </dict>
            <key>Image/Daojudituhei.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,468},{114,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,112}}</string>
                <key>sourceSize</key>
                <string>{114,112}</string>
            </dict>
            <key>Image/Daojujiguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,619},{100,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,101}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>Image/Duifangduizhanchuangkou.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,190},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>Image/Duigoutongyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,78},{79,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,77}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>Image/Duigoutongyong_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,409},{90,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,87}}</string>
                <key>sourceSize</key>
                <string>{90,87}</string>
            </dict>
            <key>Image/Duigoutongyong_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{90,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,87}}</string>
                <key>sourceSize</key>
                <string>{90,87}</string>
            </dict>
            <key>Image/FH_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,571},{124,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,74}}</string>
                <key>sourceSize</key>
                <string>{124,74}</string>
            </dict>
            <key>Image/FH_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{124,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,74}}</string>
                <key>sourceSize</key>
                <string>{124,74}</string>
            </dict>
            <key>Image/Fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,129},{213,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,5}}</string>
                <key>sourceSize</key>
                <string>{213,5}</string>
            </dict>
            <key>Image/Goumaijinbianniu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,344},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Image/Goumaijinbianniu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,314},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Image/Guanbianniu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,260},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Image/Guanbianniu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,206},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Image/HENGTIAO.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,35}}</string>
                <key>sourceSize</key>
                <string>{640,35}</string>
            </dict>
            <key>Image/Haoyoudengtongyongxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{568,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,11}}</string>
                <key>sourceSize</key>
                <string>{568,11}</string>
            </dict>
            <key>Image/Haoyoujiemiandilan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{505,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,89}}</string>
                <key>sourceSize</key>
                <string>{505,89}</string>
            </dict>
            <key>Image/Huangsedikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{577,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{577,88}}</string>
                <key>sourceSize</key>
                <string>{577,88}</string>
            </dict>
            <key>Image/Jinbidiandikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,330},{136,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,44}}</string>
                <key>sourceSize</key>
                <string>{136,44}</string>
            </dict>
            <key>Image/Jinbigoumaidikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,118},{213,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{213,70}}</string>
                <key>sourceSize</key>
                <string>{233,84}</string>
            </dict>
            <key>Image/Jinjiangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,197},{147,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,121}}</string>
                <key>sourceSize</key>
                <string>{147,121}</string>
            </dict>
            <key>Image/Jinqiandituhei.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{248,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,55}}</string>
                <key>sourceSize</key>
                <string>{248,55}</string>
            </dict>
            <key>Image/Lingdangmini.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,78},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>Image/Lingdangxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,39},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>Image/Mingziditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,160},{162,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,35}}</string>
                <key>sourceSize</key>
                <string>{162,35}</string>
            </dict>
            <key>Image/STouMingKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,11},{1,1}}</string>
                <key>offset</key>
                <string>{-285.5,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{572,129}</string>
            </dict>
            <key>Image/Shuomingdaditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{556,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,89}}</string>
                <key>sourceSize</key>
                <string>{556,89}</string>
            </dict>
            <key>Image/Shuzidiandikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,647},{88,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,41}}</string>
                <key>sourceSize</key>
                <string>{88,41}</string>
            </dict>
            <key>Image/Suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,409},{66,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,84}}</string>
                <key>sourceSize</key>
                <string>{66,84}</string>
            </dict>
            <key>Image/Tongjiangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,365},{139,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,121}}</string>
                <key>sourceSize</key>
                <string>{139,121}</string>
            </dict>
            <key>Image/Touxiangdikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,488},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,131}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>Image/Touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,584},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>Image/Vsdiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,398},{110,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{110,105}}</string>
                <key>sourceSize</key>
                <string>{124,121}</string>
            </dict>
            <key>Image/Wanjiamingzikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,59},{216,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,57}}</string>
                <key>sourceSize</key>
                <string>{216,57}</string>
            </dict>
            <key>Image/XinXiKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,8},{1,1}}</string>
                <key>offset</key>
                <string>{-147.5,19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{296,40}</string>
            </dict>
            <key>Image/Xitongtishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,197},{131,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,48}}</string>
                <key>sourceSize</key>
                <string>{131,48}</string>
            </dict>
            <key>Image/Yinjiangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,320},{144,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,115}}</string>
                <key>sourceSize</key>
                <string>{144,115}</string>
            </dict>
            <key>Image/chameleon.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,717},{100,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,101}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>Image/dikuangda.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,437},{132,133}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{132,133}}</string>
                <key>sourceSize</key>
                <string>{150,139}</string>
            </dict>
            <key>Image/energyShield.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,694},{100,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,104}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>Image/laser.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,621},{100,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,101}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>Image/lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,409},{66,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,84}}</string>
                <key>sourceSize</key>
                <string>{66,84}</string>
            </dict>
            <key>Image/mask_Nianyeanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,720},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Image/mask_laser.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,720},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Image/medusa.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,615},{100,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,101}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>Image/shangchengtoumingdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,5},{1,1}}</string>
                <key>offset</key>
                <string>{-278.5,333.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{558,668}</string>
            </dict>
            <key>Image/test.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,409},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Image/titleBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{550,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,81}}</string>
                <key>sourceSize</key>
                <string>{550,81}</string>
            </dict>
            <key>Image/zhandoudaojujiage.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,59},{99,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,33}}</string>
                <key>sourceSize</key>
                <string>{99,33}</string>
            </dict>
            <key>Image/zhucewenbendikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{1,1}}</string>
                <key>offset</key>
                <string>{-138.5,23.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{278,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Image8.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c39babce68526b06e2d3311f31ca1d6$</string>
            <key>textureFileName</key>
            <string>Image8.png</string>
        </dict>
    </dict>
</plist>
