<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Image/Chengjiu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,669},{116,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{116,61}}</string>
                <key>sourceSize</key>
                <string>{138,73}</string>
            </dict>
            <key>Image/Chengjiu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,708},{138,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,73}}</string>
                <key>sourceSize</key>
                <string>{138,73}</string>
            </dict>
            <key>Image/Haoyou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{176,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{176,77}}</string>
                <key>sourceSize</key>
                <string>{212,93}</string>
            </dict>
            <key>Image/Haoyou_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,314},{212,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,93}}</string>
                <key>sourceSize</key>
                <string>{212,93}</string>
            </dict>
            <key>Image/Kaishiyouxi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,374},{234,105}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{234,105}}</string>
                <key>sourceSize</key>
                <string>{280,125}</string>
            </dict>
            <key>Image/Kaishiyouxi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,182},{280,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,125}}</string>
                <key>sourceSize</key>
                <string>{280,125}</string>
            </dict>
            <key>Image/Kuaisudenglu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,234},{162,50}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,14},{162,50}}</string>
                <key>sourceSize</key>
                <string>{640,100}</string>
            </dict>
            <key>Image/Kuaisudenglu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,234},{162,50}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,14},{162,50}}</string>
                <key>sourceSize</key>
                <string>{640,100}</string>
            </dict>
            <key>Image/Lingdangqianbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,309},{260,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{260,63}}</string>
                <key>sourceSize</key>
                <string>{260,73}</string>
            </dict>
            <key>Image/Shangcheng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,528},{176,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{176,78}}</string>
                <key>sourceSize</key>
                <string>{212,94}</string>
            </dict>
            <key>Image/Shangcheng_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,100},{212,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,94}}</string>
                <key>sourceSize</key>
                <string>{212,94}</string>
            </dict>
            <key>Image/Xinxi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,605},{116,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{116,62}}</string>
                <key>sourceSize</key>
                <string>{138,74}</string>
            </dict>
            <key>Image/Xinxi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,786},{138,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,74}}</string>
                <key>sourceSize</key>
                <string>{138,74}</string>
            </dict>
            <key>Image/Xitongtuibiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,784},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>Image/Xitongtuibiao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,708},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>Image/Youshanglahuan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,930},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{68,68}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>Image/Youshanglahuan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,860},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{68,68}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>Image/dengluanniu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,100},{289,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{289,80}}</string>
                <key>sourceSize</key>
                <string>{347,96}</string>
            </dict>
            <key>Image/dengluanniu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{347,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,96}}</string>
                <key>sourceSize</key>
                <string>{347,96}</string>
            </dict>
            <key>Image/main_catblack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,481},{126,122}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{126,122}}</string>
                <key>sourceSize</key>
                <string>{130,122}</string>
            </dict>
            <key>Image/main_catblack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,892},{130,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,133}}</string>
                <key>sourceSize</key>
                <string>{130,133}</string>
            </dict>
            <key>Image/main_cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,617},{526,89}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{526,89}}</string>
                <key>sourceSize</key>
                <string>{526,109}</string>
            </dict>
            <key>Image/main_cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{632,113}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{632,113}}</string>
                <key>sourceSize</key>
                <string>{640,121}</string>
            </dict>
            <key>Image/main_cloud3.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,481},{537,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,201}}</string>
                <key>sourceSize</key>
                <string>{537,201}</string>
            </dict>
            <key>Image/main_cloud4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{583,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,248}}</string>
                <key>sourceSize</key>
                <string>{583,248}</string>
            </dict>
            <key>Image/main_cloud5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{583,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,248}}</string>
                <key>sourceSize</key>
                <string>{583,248}</string>
            </dict>
            <key>Image/qiehuananniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,182},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>Image/xinshouyindaoanniu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,942},{78,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Image/xinshouyindaoanniu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,862},{78,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Image/yinxiaoanniu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,812},{78,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Image/yinxiaoanniu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,886},{76,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Image/yinyueanniu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,732},{78,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Image/yinyueanniu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{76,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Image/zhizuozuxinxianniu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,706},{78,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Image/zhizuozuxinxianniu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,398},{78,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Image6.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e929e7ab6426f609a04bf3a73a9da62$</string>
            <key>textureFileName</key>
            <string>Image6.png</string>
        </dict>
    </dict>
</plist>
