<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Image/dibeilvchang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{189,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{189,58}}</string>
                <key>sourceSize</key>
                <string>{227,70}</string>
            </dict>
            <key>Image/dibeilvchang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{227,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,70}}</string>
                <key>sourceSize</key>
                <string>{227,70}</string>
            </dict>
            <key>Image/goumai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,74},{124,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{124,58}}</string>
                <key>sourceSize</key>
                <string>{148,70}</string>
            </dict>
            <key>Image/goumai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,70}}</string>
                <key>sourceSize</key>
                <string>{148,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Image5.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04d87d14e8fb10098e058f319431e320$</string>
            <key>textureFileName</key>
            <string>Image5.png</string>
        </dict>
    </dict>
</plist>
