<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Image/fenxiang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,77},{162,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{162,59}}</string>
                <key>sourceSize</key>
                <string>{192,89}</string>
            </dict>
            <key>Image/fenxiang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,297},{192,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{192,71}}</string>
                <key>sourceSize</key>
                <string>{192,89}</string>
            </dict>
            <key>Image/haoyoubiaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,244},{156,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,51}}</string>
                <key>sourceSize</key>
                <string>{156,51}</string>
            </dict>
            <key>Image/lingquanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,340},{71,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,63}}</string>
                <key>sourceSize</key>
                <string>{71,63}</string>
            </dict>
            <key>Image/quanbulingqu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,206},{296,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,15},{296,90}}</string>
                <key>sourceSize</key>
                <string>{326,120}</string>
            </dict>
            <key>Image/quanbulingqu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{326,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{326,100}}</string>
                <key>sourceSize</key>
                <string>{326,120}</string>
            </dict>
            <key>Image/tongxunlubiaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,191},{156,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,51}}</string>
                <key>sourceSize</key>
                <string>{156,51}</string>
            </dict>
            <key>Image/yaoqing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,206},{137,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{137,59}}</string>
                <key>sourceSize</key>
                <string>{167,89}</string>
            </dict>
            <key>Image/yaoqing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{167,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{167,73}}</string>
                <key>sourceSize</key>
                <string>{167,89}</string>
            </dict>
            <key>Image/yaoqinghaoyou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{296,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,15},{296,90}}</string>
                <key>sourceSize</key>
                <string>{326,120}</string>
            </dict>
            <key>Image/yaoqinghaoyou_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{326,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{326,100}}</string>
                <key>sourceSize</key>
                <string>{326,120}</string>
            </dict>
            <key>Image/youjianbiaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,138},{156,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,51}}</string>
                <key>sourceSize</key>
                <string>{156,51}</string>
            </dict>
            <key>Image/youjianjiaobiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,138},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>Image/youjianjiaobiaoshuzikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{1,1}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>Image/youjianxiang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,413},{62,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,49}}</string>
                <key>sourceSize</key>
                <string>{62,49}</string>
            </dict>
            <key>Image/youjianxiang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,413},{62,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,49}}</string>
                <key>sourceSize</key>
                <string>{62,49}</string>
            </dict>
            <key>Image/zengsonganniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,267},{71,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,63}}</string>
                <key>sourceSize</key>
                <string>{71,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Image12.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20b391dca182ea877f66e70dd00d9841$</string>
            <key>textureFileName</key>
            <string>Image12.png</string>
        </dict>
    </dict>
</plist>
