<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SDK_URL_WC</key>
	<string>http://115.29.228.49/</string>
	<key>SDK_URL</key>
	<string>http://192.168.0.130/</string>
	<key>WB_KEY</key>
	<string>801427887</string>
	<key>WB_PASS</key>
	<string>8b47fa88a0a584808f35aef07141
8b47fa88a0a584808f35aef07141
</string>
	<key>WB_URL</key>
	<string>http://126.am/jzqWY3</string>
</dict>
</plist>
