<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bodies</key>
	<dict>
		<key>animal_1</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5000,0.5000 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>3</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>friction</key>
					<real>0.0</real>
					<key>id</key>
					<string></string>
					<key>isSensor</key>
					<false/>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -36.000,37.000 }</string>
							<string>{ -48.000,-2.000 }</string>
							<string>{ -41.000,-30.000 }</string>
							<string>{ -5.000,-50.000 }</string>
							<string>{ 35.000,-36.000 }</string>
							<string>{ 48.000,-6.000 }</string>
							<string>{ 38.000,37.000 }</string>
							<string>{ 2.000,47.000 }</string>
						</array>
					</array>
					<key>restitution</key>
					<real>0.10000000000000001</real>
				</dict>
			</array>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>ptm_ratio</key>
		<real>32</real>
	</dict>
</dict>
</plist>
