<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>32</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>balloon_1</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0079,0.0089 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 31.480,14.170 }</string>	
								<string>{ 56.480,31.170 }</string>	
								<string>{ 61.480,55.170 }</string>	
								<string>{ 30.480,91.170 }</string>	
								<string>{ 8.480,78.170 }</string>	
								<string>{ 0.480,55.170 }</string>	
								<string>{ 7.480,31.170 }</string>
							</array>
							<array>	
								<string>{ 55.480,82.170 }</string>	
								<string>{ 30.480,91.170 }</string>	
								<string>{ 61.480,55.170 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

