<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Image/DUIFANGTOUXIANG_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,448},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Image/DUIFANGTOUXIANG_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,448},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Image/Daojuanniu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,519},{132,55}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{132,55}}</string>
                <key>sourceSize</key>
                <string>{158,65}</string>
            </dict>
            <key>Image/Daojuanniu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,204},{158,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,65}}</string>
                <key>sourceSize</key>
                <string>{158,65}</string>
            </dict>
            <key>Image/Lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,384},{217,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,133}}</string>
                <key>sourceSize</key>
                <string>{217,133}</string>
            </dict>
            <key>Image/MIAO.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,973},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>Image/Shujutiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,448},{310,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,52}}</string>
                <key>sourceSize</key>
                <string>{310,52}</string>
            </dict>
            <key>Image/Shujutiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,150},{277,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,52}}</string>
                <key>sourceSize</key>
                <string>{277,52}</string>
            </dict>
            <key>Image/Shujutiao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,680},{232,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,55}}</string>
                <key>sourceSize</key>
                <string>{232,55}</string>
            </dict>
            <key>Image/Shujutiaofanzhuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{310,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,52}}</string>
                <key>sourceSize</key>
                <string>{310,52}</string>
            </dict>
            <key>Image/Shujutiaofanzhuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,96},{277,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,52}}</string>
                <key>sourceSize</key>
                <string>{277,52}</string>
            </dict>
            <key>Image/Shujutiaofanzhuan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,446},{232,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,55}}</string>
                <key>sourceSize</key>
                <string>{232,55}</string>
            </dict>
            <key>Image/Touxiangkuangdiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,748},{215,240}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{215,240}}</string>
                <key>sourceSize</key>
                <string>{239,268}</string>
            </dict>
            <key>Image/Vsduizhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,96},{120,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,84}}</string>
                <key>sourceSize</key>
                <string>{120,84}</string>
            </dict>
            <key>Image/ZAILAIYIJU_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,760},{248,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,9},{248,104}}</string>
                <key>sourceSize</key>
                <string>{298,124}</string>
            </dict>
            <key>Image/ZAILAIYIJU_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,448},{298,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,124}}</string>
                <key>sourceSize</key>
                <string>{298,124}</string>
            </dict>
            <key>Image/ZHUNBEI_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{248,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,9},{248,104}}</string>
                <key>sourceSize</key>
                <string>{298,124}</string>
            </dict>
            <key>Image/ZHUNBEI_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,448},{298,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,124}}</string>
                <key>sourceSize</key>
                <string>{298,124}</string>
            </dict>
            <key>Image/candy.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,448},{50,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,79}}</string>
                <key>sourceSize</key>
                <string>{50,79}</string>
            </dict>
            <key>Image/candy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,737},{193,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,234}}</string>
                <key>sourceSize</key>
                <string>{193,234}</string>
            </dict>
            <key>Image/candy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,519},{212,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,183}}</string>
                <key>sourceSize</key>
                <string>{212,183}</string>
            </dict>
            <key>Image/candy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{70,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,95}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>Image/candy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,96},{130,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,148}}</string>
                <key>sourceSize</key>
                <string>{130,148}</string>
            </dict>
            <key>Image/candy5.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,364},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>Image/candy6.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,973},{42,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,49}}</string>
                <key>sourceSize</key>
                <string>{42,49}</string>
            </dict>
            <key>Image/candy7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{239,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,203}}</string>
                <key>sourceSize</key>
                <string>{239,203}</string>
            </dict>
            <key>Image/candy8.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,973},{47,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,43}}</string>
                <key>sourceSize</key>
                <string>{47,43}</string>
            </dict>
            <key>Image/jingyantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,2},{161,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,19}}</string>
                <key>sourceSize</key>
                <string>{161,19}</string>
            </dict>
            <key>Image/jingyantiaozhuose.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,165},{157,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{157,15}}</string>
                <key>sourceSize</key>
                <string>{161,19}</string>
            </dict>
            <key>Image/sick1.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,973},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>Image/sick2.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,519},{128,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,111}}</string>
                <key>sourceSize</key>
                <string>{128,111}</string>
            </dict>
            <key>Image/sick3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{341,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,444}}</string>
                <key>sourceSize</key>
                <string>{341,444}</string>
            </dict>
            <key>Image/sick4.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,204},{205,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,178}}</string>
                <key>sourceSize</key>
                <string>{205,178}</string>
            </dict>
            <key>Image/win.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,228},{218,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,154}}</string>
                <key>sourceSize</key>
                <string>{218,154}</string>
            </dict>
            <key>Image/zhuangbeidaoju.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,92}}</string>
                <key>sourceSize</key>
                <string>{640,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Image9.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c8925ee094398c4bc1d562a24fba8c3$</string>
            <key>textureFileName</key>
            <string>Image9.png</string>
        </dict>
    </dict>
</plist>
