<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Image/Wifibiaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,327},{181,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,50}}</string>
                <key>sourceSize</key>
                <string>{181,50}</string>
            </dict>
            <key>Image/Wifibiaotilan.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,120},{585,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{585,89}}</string>
                <key>sourceSize</key>
                <string>{585,89}</string>
            </dict>
            <key>Image/Wifichuangjianfangjian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,80},{245,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,10},{245,99}}</string>
                <key>sourceSize</key>
                <string>{293,119}</string>
            </dict>
            <key>Image/Wifichuangjianfangjian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{293,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,119}}</string>
                <key>sourceSize</key>
                <string>{293,119}</string>
            </dict>
            <key>Image/Wififangjianlan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{470,76}}</string>
                <key>offset</key>
                <string>{38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,0},{470,76}}</string>
                <key>sourceSize</key>
                <string>{546,76}</string>
            </dict>
            <key>Image/Wifijinru_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,477},{124,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{124,58}}</string>
                <key>sourceSize</key>
                <string>{148,70}</string>
            </dict>
            <key>Image/Wifijinru_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,327},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,70}}</string>
                <key>sourceSize</key>
                <string>{148,70}</string>
            </dict>
            <key>Image/Wifiliebiaofanwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{1,1}}</string>
                <key>offset</key>
                <string>{-272.5,195}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{546,391}</string>
            </dict>
            <key>Image/Wifiwufangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{218,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,150}}</string>
                <key>sourceSize</key>
                <string>{218,150}</string>
            </dict>
            <key>Image/Wifiwufangjiantishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{397,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,38}}</string>
                <key>sourceSize</key>
                <string>{397,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Image16.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dc92599ed6029bc71d2d446bbc487c9$</string>
            <key>textureFileName</key>
            <string>Image16.png</string>
        </dict>
    </dict>
</plist>
