<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Image/Gerenxinxizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{181,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,50}}</string>
                <key>sourceSize</key>
                <string>{181,50}</string>
            </dict>
            <key>Image/Huantouxiang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{131,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{131,54}}</string>
                <key>sourceSize</key>
                <string>{157,64}</string>
            </dict>
            <key>Image/Huantouxiang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,64}}</string>
                <key>sourceSize</key>
                <string>{157,64}</string>
            </dict>
            <key>Image/Huantouxiangbiaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,692},{181,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,50}}</string>
                <key>sourceSize</key>
                <string>{181,50}</string>
            </dict>
            <key>Image/Qiantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{555,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{555,52}}</string>
                <key>sourceSize</key>
                <string>{555,52}</string>
            </dict>
            <key>Image/Shentiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,135},{555,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{555,52}}</string>
                <key>sourceSize</key>
                <string>{555,52}</string>
            </dict>
            <key>Image/huangsejiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,875},{26,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,21}}</string>
                <key>sourceSize</key>
                <string>{26,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Image1.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2dba1de7d4c8c821e3eb9891f7707426$</string>
            <key>textureFileName</key>
            <string>Image1.png</string>
        </dict>
    </dict>
</plist>
