<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Image/fenxiang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,338},{162,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,15},{162,59}}</string>
                <key>sourceSize</key>
                <string>{192,89}</string>
            </dict>
            <key>Image/fenxiang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,124},{192,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{192,71}}</string>
                <key>sourceSize</key>
                <string>{192,89}</string>
            </dict>
            <key>Image/haoyoubiaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,318},{181,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,50}}</string>
                <key>sourceSize</key>
                <string>{181,50}</string>
            </dict>
            <key>Image/lingquanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,273},{71,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,63}}</string>
                <key>sourceSize</key>
                <string>{71,63}</string>
            </dict>
            <key>Image/quanbulingqu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,208},{290,84}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,27},{290,84}}</string>
                <key>sourceSize</key>
                <string>{392,144}</string>
            </dict>
            <key>Image/quanbulingqu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{348,102}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{348,102}}</string>
                <key>sourceSize</key>
                <string>{392,144}</string>
            </dict>
            <key>Image/tongxunlubiaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,318},{181,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,50}}</string>
                <key>sourceSize</key>
                <string>{181,50}</string>
            </dict>
            <key>Image/yaoqing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,63},{137,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{137,59}}</string>
                <key>sourceSize</key>
                <string>{167,89}</string>
            </dict>
            <key>Image/yaoqing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,124},{167,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{167,73}}</string>
                <key>sourceSize</key>
                <string>{167,89}</string>
            </dict>
            <key>Image/yaoqinghaoyou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{292,84}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,27},{292,84}}</string>
                <key>sourceSize</key>
                <string>{392,144}</string>
            </dict>
            <key>Image/yaoqinghaoyou_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,100}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{350,100}}</string>
                <key>sourceSize</key>
                <string>{392,144}</string>
            </dict>
            <key>Image/yiyaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{137,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{137,59}}</string>
                <key>sourceSize</key>
                <string>{167,89}</string>
            </dict>
            <key>Image/youjianbiaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,318},{181,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,50}}</string>
                <key>sourceSize</key>
                <string>{181,50}</string>
            </dict>
            <key>Image/youjianjiaobiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,293},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>Image/youjianjiaobiaoshuzikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{1,1}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>Image/youjianxiang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,259},{62,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,49}}</string>
                <key>sourceSize</key>
                <string>{62,49}</string>
            </dict>
            <key>Image/youjianxiang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,208},{62,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,49}}</string>
                <key>sourceSize</key>
                <string>{62,49}</string>
            </dict>
            <key>Image/zengsonganniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,208},{71,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,63}}</string>
                <key>sourceSize</key>
                <string>{71,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Image12.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c09846f208ef7586893dfdd8c3246d1$</string>
            <key>textureFileName</key>
            <string>Image12.png</string>
        </dict>
    </dict>
</plist>
